In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# import xgboost as xgb
from sklearn.model_selection import train_test_split

In [3]:
df_train=pd.read_csv('/home/gajendra/Github/Datasets/Genpact@00/train/train.csv')
df_fulfilment=pd.read_csv('/home/gajendra/Github/Datasets/Genpact@00/train/fulfilment_center_info.csv')
df_meal=pd.read_csv('/home/gajendra/Github/Datasets/Genpact@00/train/meal_info.csv')
df_test=pd.read_csv('/home/gajendra/Github/Datasets/Genpact@00/test.csv')

In [4]:
# Save the target attribute for future
target=df_train['num_orders']

# Add both df_train and df_test
data_raw = pd.concat([df_train.drop(['num_orders'], axis=1), df_test])
data_raw

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured
0,1379560,1,55,1885,136.83,152.29,0,0
1,1466964,1,55,1993,136.83,135.83,0,0
2,1346989,1,55,2539,134.86,135.86,0,0
3,1338232,1,55,2139,339.50,437.53,0,0
4,1448490,1,55,2631,243.50,242.50,0,0
5,1270037,1,55,1248,251.23,252.23,0,0
6,1191377,1,55,1778,183.36,184.36,0,0
7,1499955,1,55,1062,182.36,183.36,0,0
8,1025244,1,55,2707,193.06,192.06,0,0
9,1054194,1,55,1207,325.92,384.18,0,1
10,1469367,1,55,1230,323.01,390.00,0,1
11,1029333,1,55,2322,322.07,388.00,0,1
12,1446016,1,55,2290,311.43,310.43,0,0
13,1244647,1,55,1727,445.23,446.23,0,0
14,1378227,1,55,1109,264.84,297.79,1,0
15,1181556,1,55,2640,282.33,281.33,0,0
16,1313873,1,55,2306,243.50,340.53,0,0
17,1067069,1,55,2126,486.00,485.00,0,0
18,1058482,1,55,2826,306.58,305.58,0,0
19,1240935,1,55,1754,289.12,289.12,0,0
20,1044821,1,55,1971,259.99,320.13,1,1
21,1149039,1,55,1902,388.03,446.23,0,0
22,1263416,1,55,1311,196.94,320.13,0,0
23,1323882,1,55,1803,117.40,188.24,0,0
24,1338119,1,55,1558,583.03,610.13,1,0
25,1188372,1,55,2581,583.03,612.13,1,0
26,1440008,1,55,1962,582.03,612.13,1,0
27,1336534,1,55,1445,628.62,627.62,0,0
28,1242186,1,55,2444,627.62,626.62,0,0
29,1012819,1,55,2867,628.62,626.62,0,0
...,...,...,...,...,...,...,...,...
32543,1234660,155,61,2290,195.97,292.00,1,1
32544,1404408,155,61,1727,445.23,447.23,0,0
32545,1234776,155,61,1109,293.91,295.91,0,0
32546,1349215,155,61,1571,678.03,678.03,0,0
32547,1207249,155,61,2577,319.13,320.13,0,0
32548,1414921,155,61,2640,321.13,321.13,0,0
32549,1126947,155,61,1878,319.13,320.13,0,0
32550,1096124,155,61,2306,337.62,335.62,0,0
32551,1498639,155,61,1216,412.25,412.25,0,0
32552,1430032,155,61,2126,509.31,509.31,0,0
32553,1111480,155,61,2826,327.92,326.92,0,0
32554,1449841,155,61,1754,322.10,321.10,0,0
32555,1290329,155,61,1971,328.86,328.86,0,0
32556,1324280,155,61,1902,446.23,445.23,0,0
32557,1457838,155,61,1247,446.23,445.23,0,0
32558,1222394,155,61,1558,562.60,563.60,0,0
32559,1141545,155,61,2581,564.60,562.60,0,0
32560,1363040,155,61,1962,564.60,564.60,0,0
32561,1330159,155,61,1445,680.03,680.03,0,0
32562,1070377,155,61,2444,678.03,680.03,0,0
32563,1001148,155,61,2867,678.03,679.03,0,0
32564,1169203,155,61,2760,243.50,243.50,0,0
32565,1389523,155,61,1525,320.13,319.13,0,0
32566,1304998,155,61,2704,321.13,321.13,0,0
32567,1462767,155,61,2492,456.93,456.93,0,0
32568,1250239,155,61,1543,482.09,484.09,0,0
32569,1039516,155,61,2304,483.09,483.09,0,0
32570,1158107,155,61,2664,322.07,323.07,0,0
32571,1444235,155,61,2569,322.07,323.07,0,0
32572,1291286,155,61,2490,276.45,276.45,0,0

In [5]:
data_half_cooked=pd.merge(data_raw, df_meal, how="left", left_on="meal_id", right_on="meal_id")
data_full_cooked=pd.merge(data_half_cooked, df_fulfilment, how="left", left_on="center_id", right_on="center_id")
data=data_full_cooked
data

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,category,cuisine,city_code,region_code,center_type,op_area
0,1379560,1,55,1885,136.83,152.29,0,0,Beverages,Thai,647,56,TYPE_C,2.0
1,1466964,1,55,1993,136.83,135.83,0,0,Beverages,Thai,647,56,TYPE_C,2.0
2,1346989,1,55,2539,134.86,135.86,0,0,Beverages,Thai,647,56,TYPE_C,2.0
3,1338232,1,55,2139,339.50,437.53,0,0,Beverages,Indian,647,56,TYPE_C,2.0
4,1448490,1,55,2631,243.50,242.50,0,0,Beverages,Indian,647,56,TYPE_C,2.0
5,1270037,1,55,1248,251.23,252.23,0,0,Beverages,Indian,647,56,TYPE_C,2.0
6,1191377,1,55,1778,183.36,184.36,0,0,Beverages,Italian,647,56,TYPE_C,2.0
7,1499955,1,55,1062,182.36,183.36,0,0,Beverages,Italian,647,56,TYPE_C,2.0
8,1025244,1,55,2707,193.06,192.06,0,0,Beverages,Italian,647,56,TYPE_C,2.0
9,1054194,1,55,1207,325.92,384.18,0,1,Beverages,Continental,647,56,TYPE_C,2.0
10,1469367,1,55,1230,323.01,390.00,0,1,Beverages,Continental,647,56,TYPE_C,2.0
11,1029333,1,55,2322,322.07,388.00,0,1,Beverages,Continental,647,56,TYPE_C,2.0
12,1446016,1,55,2290,311.43,310.43,0,0,Rice Bowl,Indian,647,56,TYPE_C,2.0
13,1244647,1,55,1727,445.23,446.23,0,0,Rice Bowl,Indian,647,56,TYPE_C,2.0
14,1378227,1,55,1109,264.84,297.79,1,0,Rice Bowl,Indian,647,56,TYPE_C,2.0
15,1181556,1,55,2640,282.33,281.33,0,0,Starters,Thai,647,56,TYPE_C,2.0
16,1313873,1,55,2306,243.50,340.53,0,0,Pasta,Italian,647,56,TYPE_C,2.0
17,1067069,1,55,2126,486.00,485.00,0,0,Pasta,Italian,647,56,TYPE_C,2.0
18,1058482,1,55,2826,306.58,305.58,0,0,Sandwich,Italian,647,56,TYPE_C,2.0
19,1240935,1,55,1754,289.12,289.12,0,0,Sandwich,Italian,647,56,TYPE_C,2.0
20,1044821,1,55,1971,259.99,320.13,1,1,Sandwich,Italian,647,56,TYPE_C,2.0
21,1149039,1,55,1902,388.03,446.23,0,0,Biryani,Indian,647,56,TYPE_C,2.0
22,1263416,1,55,1311,196.94,320.13,0,0,Extras,Thai,647,56,TYPE_C,2.0
23,1323882,1,55,1803,117.40,188.24,0,0,Extras,Thai,647,56,TYPE_C,2.0
24,1338119,1,55,1558,583.03,610.13,1,0,Pizza,Continental,647,56,TYPE_C,2.0
25,1188372,1,55,2581,583.03,612.13,1,0,Pizza,Continental,647,56,TYPE_C,2.0
26,1440008,1,55,1962,582.03,612.13,1,0,Pizza,Continental,647,56,TYPE_C,2.0
27,1336534,1,55,1445,628.62,627.62,0,0,Seafood,Continental,647,56,TYPE_C,2.0
28,1242186,1,55,2444,627.62,626.62,0,0,Seafood,Continental,647,56,TYPE_C,2.0
29,1012819,1,55,2867,628.62,626.62,0,0,Seafood,Continental,647,56,TYPE_C,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489091,1234660,155,61,2290,195.97,292.00,1,1,Rice Bowl,Indian,473,77,TYPE_A,4.5
489092,1404408,155,61,1727,445.23,447.23,0,0,Rice Bowl,Indian,473,77,TYPE_A,4.5
489093,1234776,155,61,1109,293.91,295.91,0,0,Rice Bowl,Indian,473,77,TYPE_A,4.5
489094,1349215,155,61,1571,678.03,678.03,0,0,Fish,Continental,473,77,TYPE_A,4.5
489095,1207249,155,61,2577,319.13,320.13,0,0,Starters,Thai,473,77,TYPE_A,4.5
489096,1414921,155,61,2640,321.13,321.13,0,0,Starters,Thai,473,77,TYPE_A,4.5
489097,1126947,155,61,1878,319.13,320.13,0,0,Starters,Thai,473,77,TYPE_A,4.5
489098,1096124,155,61,2306,337.62,335.62,0,0,Pasta,Italian,473,77,TYPE_A,4.5
489099,1498639,155,61,1216,412.25,412.25,0,0,Pasta,Italian,473,77,TYPE_A,4.5
489100,1430032,155,61,2126,509.31,509.31,0,0,Pasta,Italian,473,77,TYPE_A,4.5
489101,1111480,155,61,2826,327.92,326.92,0,0,Sandwich,Italian,473,77,TYPE_A,4.5
489102,1449841,155,61,1754,322.10,321.10,0,0,Sandwich,Italian,473,77,TYPE_A,4.5
489103,1290329,155,61,1971,328.86,328.86,0,0,Sandwich,Italian,473,77,TYPE_A,4.5
489104,1324280,155,61,1902,446.23,445.23,0,0,Biryani,Indian,473,77,TYPE_A,4.5
489105,1457838,155,61,1247,446.23,445.23,0,0,Biryani,Indian,473,77,TYPE_A,4.5
489106,1222394,155,61,1558,562.60,563.60,0,0,Pizza,Continental,473,77,TYPE_A,4.5
489107,1141545,155,61,2581,564.60,562.60,0,0,Pizza,Continental,473,77,TYPE_A,4.5
489108,1363040,155,61,1962,564.60,564.60,0,0,Pizza,Continental,473,77,TYPE_A,4.5
489109,1330159,155,61,1445,680.03,680.03,0,0,Seafood,Continental,473,77,TYPE_A,4.5
489110,1070377,155,61,2444,678.03,680.03,0,0,Seafood,Continental,473,77,TYPE_A,4.5
489111,1001148,155,61,2867,678.03,679.03,0,0,Seafood,Continental,473,77,TYPE_A,4.5
489112,1169203,155,61,2760,243.50,243.50,0,0,Other Snacks,Thai,473,77,TYPE_A,4.5
489113,1389523,155,61,1525,320.13,319.13,0,0,Other Snacks,Thai,473,77,TYPE_A,4.5
489114,1304998,155,61,2704,321.13,321.13,0,0,Other Snacks,Thai,473,77,TYPE_A,4.5
489115,1462767,155,61,2492,456.93,456.93,0,0,Desert,Indian,473,77,TYPE_A,4.5
489116,1250239,155,61,1543,482.09,484.09,0,0,Desert,Indian,473,77,TYPE_A,4.5
489117,1039516,155,61,2304,483.09,483.09,0,0,Desert,Indian,473,77,TYPE_A,4.5
489118,1158107,155,61,2664,322.07,323.07,0,0,Salad,Italian,473,77,TYPE_A,4.5
489119,1444235,155,61,2569,322.07,323.07,0,0,Salad,Italian,473,77,TYPE_A,4.5
489120,1291286,155,61,2490,276.45,276.45,0,0,Salad,Italian,473,77,TYPE_A,4.5

In [6]:
mapping_dict={'category':{'Beverages':0, 'Rice Bowl':1, 'Starters':2, 'Pasta':3, 'Sandwich':4, 'Biryani':5, 'Extras':6, 'Pizza':7, 'Seafood':8, 
                          'Other Snacks':9, 'Desert':10, 'Soup':11, 'Salad':12, 'Fish':13}, 'cuisine':{'Thai':0, 'Indian':1, 'Italian':2,
                          'Continental':3}, 'center_type':{'TYPE_C':0, 'TYPE_B':1, 'TYPE_A':2}}
data=data.replace(mapping_dict)
data.head(10)

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,category,cuisine,city_code,region_code,center_type,op_area
0,1379560,1,55,1885,136.83,152.29,0,0,0,0,647,56,0,2.0
1,1466964,1,55,1993,136.83,135.83,0,0,0,0,647,56,0,2.0
2,1346989,1,55,2539,134.86,135.86,0,0,0,0,647,56,0,2.0
3,1338232,1,55,2139,339.50,437.53,0,0,0,1,647,56,0,2.0
4,1448490,1,55,2631,243.50,242.50,0,0,0,1,647,56,0,2.0
5,1270037,1,55,1248,251.23,252.23,0,0,0,1,647,56,0,2.0
6,1191377,1,55,1778,183.36,184.36,0,0,0,2,647,56,0,2.0
7,1499955,1,55,1062,182.36,183.36,0,0,0,2,647,56,0,2.0
8,1025244,1,55,2707,193.06,192.06,0,0,0,2,647,56,0,2.0
9,1054194,1,55,1207,325.92,384.18,0,1,0,3,647,56,0,2.0

In [7]:
data_train=data[:456548]
data_test=data[456548:]
data_train.describe()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,category,cuisine,city_code,region_code,center_type,op_area
count,4.565480e+05,456548.000000,456548.000000,456548.000000,456548.000000,456548.000000,456548.000000,456548.00000,456548.000000,456548.000000,456548.000000,456548.000000,456548.000000,456548.000000
mean,1.250096e+06,74.768771,82.105796,2024.337458,332.238933,354.156627,0.081152,0.10920,4.628620,1.460628,601.553399,56.614566,1.357658,4.083590
std,1.443548e+05,41.524956,45.975046,547.420920,152.939723,160.715914,0.273069,0.31189,4.233061,1.103012,66.195914,17.641306,0.816105,1.091686
min,1.000000e+06,1.000000,10.000000,1062.000000,2.970000,55.350000,0.000000,0.00000,0.000000,0.000000,456.000000,23.000000,0.000000,0.900000
25%,1.124999e+06,39.000000,43.000000,1558.000000,228.950000,243.500000,0.000000,0.00000,0.000000,0.000000,553.000000,34.000000,1.000000,3.600000
50%,1.250184e+06,76.000000,76.000000,1993.000000,296.820000,310.460000,0.000000,0.00000,4.000000,1.000000,596.000000,56.000000,2.000000,4.000000
75%,1.375140e+06,111.000000,110.000000,2539.000000,445.230000,458.870000,0.000000,0.00000,8.000000,2.000000,651.000000,77.000000,2.000000,4.500000
max,1.499999e+06,145.000000,186.000000,2956.000000,866.270000,866.270000,1.000000,1.00000,13.000000,3.000000,713.000000,93.000000,2.000000,7.000000

In [ ]:
# from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestClassifier
X = data_train.values
test = data_test.values
y = target.values